body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    background-color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}
#buttons {
    text-align: center;
}
#formula {
    padding: 15px;
    padding-bottom: 200px;
}
#table {
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
}
#table1 {
    text-align: center;
    display: inline-block;
}
#table1 td {
    border: 1px solid black;
}
#table1 input {
    text-align: center;
}
input {
    text-align: center;
    width: 100px;
    background-color: honeydew;
    border-radius: 5px;
    border: 1px solid gray;
}
@media only screen and (max-width: 600px) {
    input {
        width: 40px;
    }
}
#teclado
{
    position: fixed;
    padding: 15px;
    bottom: 0px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: antiquewhite;
    width: 680px;
    height: 170px;
    left: 50%;
    margin-left: -340px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    #formula
    {
        padding-bottom: 230px;
    }
    #teclado {
        width: 350px;
        margin-left: -190px;
        height: 200px;
    }
}
#teclado div
{
    display: inline-block;
    padding: 2px;
    border: 2px solid gray;
    background-color: honeydew;
    width: 50px;
    border-radius: 5px;
    margin: 2px;
    text-align: center;
    cursor: pointer;
}
#title
{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}
#logo
{
    flex: 1;
}
#subtitle
{
    flex: 5;
    padding-left: 10px;
}
#description
{
    max-width: 1200px;
}
button
{
    background-color: honeydew;
    border-radius: 5px;
    min-width: 60px;
    height: 30px;
}
#content
{
    max-width: 1200px;
    text-align: center;
}
.formula-p
{
    font-weight: bold; 
    font-size: 1.5em; 
    text-align: center; 
    margin-bottom: 0px;
}
.text-left
{
    text-align: left;
}
.inline
{
    display: inline;
}
.margin-left
{
    margin-left: 20px;
}
.img
{
    width: 250px;
}
.block
{
    display: block;
}
@media only screen and (max-width: 600px) {
    #title
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 600px;
    }
    #logo
    {
        flex: 1;
        text-align: center;
    }
    #subtitle
    {
        flex: 1;
        padding: 0;
    }
    #description
    {
        max-width: 600px;
    }
    #content
    {
        max-width: 600px;
    }
    .img
    {
        width: 100px;
    }
    .mobile-text-input
    {
        width: 100px;
    }
    .mobile-block
    {
        display: block;
    }
    .mobile-margin-top
    {
        margin-top: 10px;
    }
    .margin-left
    {
        margin-left: 0px;
    }
}